
.home {
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: url('../img/bkgT1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.biografia {
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #111;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Montserrat;

}

    .biografia article {
        margin-left: 0px;
        margin-top: 55px;
        font-family: Open Sans Condensed;
        font-size: 14pt;
        letter-spacing: 1px;
        color: #c8c8c8;
        max-width: 450px; 
    }

.denise2 {
    background-image:url("../img/denise2.jpg");
    background-size:cover;
    height:600px;
}

hr {
    padding: 0;
    border: none;
    border-top: solid 1px #c8c8c8;
    color: #c8c8c8;
    text-align: center;
}

    hr:after {
        content: url("../img/brush.png");
        display: inline-block;
        position: relative;
        top: -12px;
        padding: 1px;
        font-size: 11pt;
        background: #111;
    }

.no-decoration, .no-decoration:hover, .no-decoration:active, .no-decoration:visited, .no-decoration:focus {
    color: white;
    text-decoration: none;
}

.rowHome {
    height: 100vh;
    color: white;
    display: block;
}

.artistImg {
    width: 300px;
    opacity: 0.8;
    margin-left: 100px;
    margin-top: 50px;
    border: double 5px #c8c8c8;
}

.navigation {
    font-family: Montserrat;
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 15pt;
}

    .navigation button {
        transition: all 0.3s ease-in-out;
        border: solid 2px white;
        padding: 20px;
        background: transparent;
        min-width: 200px;
    }

        .navigation button:hover {
            transition: all 0.3s ease-in-out;
            background: white;
            color: black;
        }

.title {
    font-size: 50px;
    font-family: Cinzel Decorative;
    text-align: center;
    padding-top: 20%;
    text-rendering: optimizelegibility;
}

.hrSmall {
    width: 5%;
    border-bottom: solid 1px white;
}

    .hrSmall:after {
        content: url("../img/brush.png");
        display: inline-block;
        position: relative;
        top: 12px;
        padding: 1px;
        background: transparent;
    }

.hrMedium {
    border-bottom: solid 1px #2c2c2c;
    width: 50%;
}

hr {
    border-bottom: solid 1px #2c2c2c;
}

.centered {
    float: none;
    margin: 0 auto;
}

.underTitle {
    text-align: center;
    font-size: 15pt;
    font-family: Voltaire; /*Lato*/
    font-weight: lighter;
    letter-spacing: 1px;
}

.titleMediumSize {
    text-align: center;
    font-family: Jura;
    font-size: 20pt;
    letter-spacing: 0px;
    margin-top: -20px;
}

.titleSmallSize {
    text-align: center;
    font-family: Permanent Marker;
    font-size: 25pt;
}

.titleMediumSize span {
    font-weight: bold;
    color: #d32525;
}

@media (max-width: 900px) {
    nav span {
        display: none;
    }
    .artistImg {
        margin-left:0px;
    }
}
